리스트와 함께 사용하는 for

In [6]:
a = ['Life', 'is', 'too', 'Good']
print(a)
print('-' * 80)

for i in a:
    print(i)
    
print('-' * 80)   

for i in range(len(a)):
    print(a[i])
    
print('-' * 80)

for i in a[1:3]:
    print(i)

['Life', 'is', 'too', 'Good']
--------------------------------------------------------------------------------
Life
is
too
Good
--------------------------------------------------------------------------------
Life
is
too
Good
--------------------------------------------------------------------------------
is
too

튜플과 함께 사용하는 for

In [8]:
a = 'Life', 'is', 'too', 'Good'
print(a)
print('-' * 80)

for i in a:
    print(i)
    
print('-' * 80)   

for i in range(len(a)):
    print(a[i])
    
print('-' * 80)

for i in a[1:3]:
    print(i)

('Life', 'is', 'too', 'Good')
--------------------------------------------------------------------------------
Life
is
too
Good
--------------------------------------------------------------------------------
Life
is
too
Good
--------------------------------------------------------------------------------
is
too

In [ ]:
set과 함께 사용하는 for

In [13]:
a = {'Life', 'is', 'too', 'Good'}
print(a)
print('-' * 80)

for i in a:
    print(i)
    
print('-' * 80)   
'''
for i in range(len(a)):
    print(a[i]) # set은 입력되는 순서와 저장되는 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생한다.
print('-' * 80)

for i in a[1:3]: # set은 입력되는 순서와 저장되는 순서가 달라서 슬라이싱을 사용할 수 없으므로 에러가 발생한다.
    print(i)
'''
pass

{'Life', 'too', 'is', 'Good'}
--------------------------------------------------------------------------------
Life
too
is
Good
--------------------------------------------------------------------------------

딕셔너리와 함께 사용하는 for

In [17]:
a = {'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([1000, 3500, 10000, 5000])
dict_items([('apple', 1000), ('banana', 3500), ('melon', 10000), ('mango', 5000)])

In [27]:
for key in a: # 딕셔너리 이름만 쓰면 딕셔너리이름.keys()와 같은 의미로 사용된다.
    print(key)
print('-' * 80)

for key in a.keys():
    print(key)
print('-' * 80)

for value in a.values():
    print(value)
print('-' * 80)

for item in a.items():
    print(item)
print('-' * 80)

apple
banana
melon
mango
--------------------------------------------------------------------------------
apple
banana
melon
mango
--------------------------------------------------------------------------------
1000
3500
10000
5000
--------------------------------------------------------------------------------
('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)
--------------------------------------------------------------------------------

In [29]:
# key 값을 이용해서 value 얻어오기
for key in a.keys():
    print(a[key]) # 딕셔너리이름[key]
print('-' * 80) 

for key in a.keys():
    print(a.get(key)) # 딕셔너리이름.get(key)

1000
3500
10000
5000
--------------------------------------------------------------------------------
1000
3500
10000
5000

In [33]:
# item 값을 이용해서 key, value 얻어오기
for item in a.items():
    print(item)
print('-' * 80) 

for key, value in a.items():
    print('{}은(는) {:,}원 입니다.'.format(key, value))

('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)
--------------------------------------------------------------------------------
apple은(는) 1,000원 입니다.
banana은(는) 3,500원 입니다.
melon은(는) 10,000원 입니다.
mango은(는) 5,000원 입니다.

enumerate() 함수는 인수로 지정된 리스트, 튜플, 딕셔너리, set의 index와 value를 리턴한다.

In [39]:
for index, data in enumerate(a.items()):
    print(index, data)

0 ('apple', 1000)
1 ('banana', 3500)
2 ('melon', 10000)
3 ('mango', 5000)

zip() 함수는 서로 다른 데이터가 저장된 객체를 반복 가능한 형태로 묶어준다.

In [41]:
a = [1, 2, 3]
b = ['java', 'jsp', 'python']
for index, data in zip(a, b):
    print(index, data)

1 java
2 jsp
3 python

In [44]:
java = [100, 100, 100]
jsp = [90, 80, 70]
python = [1, 2, 3]

total = []
for i in range(len(java)):
    total.append(java[i] + jsp[i] + python[i])
print(total)
    
total = []
for java, jsp, python in zip(java, jsp, python):
    total.append(java + jsp + python)
print(total)

[191, 182, 173]
[191, 182, 173]